@{
    ViewData["Title"] = "Home Page";
}
    
    <div class="text-center">
        <h1 class="display-4">Welcome to PetFinder</h1>
        <table>
        <tr>
            <td>
                <div class="indexcontainer">
                    <img src="~/img/SeenDog.png" class="indeximage">
                    <div class="overlay"><h2> <a asp-area="" asp-controller="Posts" asp-action="CreatePost">I've seen a lost pet</a></h2></div>
                </div>
            </td>
            <td><div class="indexcontainer">
    <img src="~/img/Lost-pet.jpg" class="indeximage">
    <div class="overlay"><h2><a asp-area="" asp-controller="Posts" asp-action="SeenPets">I've lost my pet</a></h2></div>
</div></td>
        </tr>
        </table>
    </div>
            


